In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [5]:
df.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [6]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [7]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [8]:
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

#One hot encoding 
#It is used to convert categorical features into numerical values that machine understands

In [9]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [10]:


X=df.drop(columns=['Exited'])
y=df['Exited'].values

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

X_train_trf=scaler.fit_transform(X_train)
X_test_trf=scaler.transform(X_test)

-Many models perform better whey they are in a standard scale

In [12]:
!pip install tensorflow

import tensorflow
from tensorflow import keras 
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

Requirement already satisfied: tensorflow in /opt/conda/lib/python3.7/site-packages (2.11.0)
Requirement already satisfied: six>=1.12.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (1.14.0)
Requirement already satisfied: h5py>=2.9.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: absl-py>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: flatbuffers>=2.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (25.2.10)
Requirement already satisfied: termcolor>=1.1.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (2.3.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: libclang>=13.0.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: numpy>=1.20 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (1.21.6)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (1.62.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (0.34.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (3.11.4)
Requirement already satisfied: google-pasta>=0.1.1 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.7/site-packages (from tensorflow) (20.1)
Requirement already satisfied: wrapt>=1.11.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from tensorflow) (46.1.3.post20200325)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (2.11.2)
Requirement already satisfied: astunparse>=1.6.0 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: typing-extensions>=3.6.6 in /opt/conda/lib/python3.7/site-packages (from tensorflow) (3.7.4.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/conda/lib/python3.7/site-packages (from astunparse>=1.6.0->tensorflow) (0.34.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (0.6.1)
Requirement already satisfied: werkzeug>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.2.3)
Requirement already satisfied: google-auth<3,>=1.6.3 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.40.3)
Requirement already satisfied: requests<3,>=2.21.0 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.23.0)
Requirement already satisfied: markdown>=2.6.8 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (3.4.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /opt/conda/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (0.4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/conda/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.3.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/conda/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (5.5.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/conda/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/conda/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (2.0.0)
Requirement already satisfied: importlib-metadata>=4.4 in /opt/conda/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow) (6.7.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow) (3.1.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /opt/conda/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2020.4.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (3.0.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /opt/conda/lib/python3.7/site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow) (2.1.5)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging->tensorflow) (2.4.7)
WARNING: You are using pip version 21.1.3; however, version 24.0 is available.
You should consider upgrading via the '/opt/conda/bin/python3 -m pip install --upgrade pip' command.

In [13]:
from tensorflow.keras import Sequential
model=Sequential()

model.add(Dense(11,activation='sigmoid',input_dim=11))
model.add(Dense(11,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))

In [14]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                132

 dense_1 (Dense)             (None, 11)                132

 dense_2 (Dense)             (None, 1)                 12

=================================================================
Total params: 276
Trainable params: 276
Non-trainable params: 0
_________________________________________________________________

In [15]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [17]:
model.fit(X_train_trf, y_train, epochs=10 )

Epoch 1/10
250/250 [==============================] - 3s 4ms/step - loss: 0.5008
Epoch 2/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4773
Epoch 3/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4523
Epoch 4/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4356
Epoch 5/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4282
Epoch 6/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4251
Epoch 7/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4233
Epoch 8/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4217
Epoch 9/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4198
Epoch 10/10
250/250 [==============================] - 1s 4ms/step - loss: 0.4174

In [20]:
model.layers[0].get_weights()

[array([[-8.09415728e-02,  2.47347772e-01, -1.03829704e-01,
          3.19878489e-01,  7.31085911e-02, -1.18838944e-01,
         -1.50063246e-01,  1.77136928e-01,  1.77210584e-01,
          2.82971561e-02,  1.30643249e-01],
        [-1.09482956e+00, -3.30701917e-01,  1.77242327e+00,
          6.24395162e-02,  7.64837414e-02, -1.18037188e+00,
          1.92034423e+00,  3.31371516e-01, -1.97232276e-01,
          9.54347491e-01, -1.08901024e+00],
        [ 1.13540187e-01,  4.09202464e-02, -1.00933045e-01,
         -1.09120972e-01,  5.08318067e-01, -1.02964878e-01,
         -8.23103711e-02, -2.71096766e-01,  2.81222463e-01,
         -1.33946180e-01,  6.79883435e-02],
        [-1.35544809e-02, -3.56189102e-01,  2.04148367e-01,
         -7.88790435e-02,  2.81293184e-01,  1.71761841e-01,
         -1.83218285e-01,  1.92139689e-02, -3.83744061e-01,
          3.81583542e-01,  2.50272546e-02],
        [ 3.32408398e-01, -9.66352820e-02,  1.65775850e-01,
          1.44825232e+00,  5.35479188e-02, -6.10031374e-02,
         -7.47788474e-02, -7.99521357e-02,  1.92172959e-01,
          1.16904546e-02, -3.30918320e-02],
        [ 2.19481945e-01, -9.88935754e-02, -2.52331793e-01,
         -2.26129100e-01,  3.10050249e-01,  4.35185432e-02,
         -6.67704865e-02,  2.39029735e-01, -2.26735696e-01,
         -1.96335554e-01,  2.21153393e-01],
        [ 2.50710994e-01,  9.02180254e-01,  7.26914406e-02,
          6.97958410e-01, -7.27494478e-01,  2.52524037e-02,
          1.57329351e-01, -4.61045086e-01,  8.60206902e-01,
         -4.69494611e-01,  2.74893969e-01],
        [-2.14989796e-01, -2.99954694e-02, -2.04518989e-01,
          5.08847870e-02, -4.63277429e-01, -1.25272557e-01,
          1.43946022e-01,  2.26940542e-01,  1.64788566e-03,
          2.96760738e-01,  1.60758384e-02],
        [-2.46710107e-01, -4.87247974e-01, -4.15917300e-02,
          1.23274393e-01,  4.45159167e-01, -3.69557291e-01,
          4.44419444e-01,  5.98758459e-01, -2.78821737e-01,
         -1.72651201e-01, -6.32292092e-01],
        [ 2.85102606e-01,  1.82006568e-01, -1.25537813e-01,
          2.13568106e-01,  3.04389030e-01, -2.44542956e-01,
          4.45271254e-01, -1.25018045e-01, -3.34546082e-02,
         -2.89426327e-01, -4.27518278e-01],
        [ 2.20896378e-01,  4.71248895e-01, -8.13388079e-02,
          2.46270180e-01, -1.84756532e-01,  1.19732440e-01,
         -3.36539857e-02, -4.24021810e-01,  2.87188858e-01,
         -5.37908599e-02,  4.52625901e-01]], dtype=float32),
 array([ 0.17759329,  0.19065306, -0.10066908,  0.43698475, -0.13023888,
        -0.12284632, -0.10994508, -0.10029912,  0.15311958, -0.08571073,
         0.05289766], dtype=float32)]

In [21]:
model.layers[1].get_weights()

[array([[-0.72528183,  0.28617197, -0.18670233,  0.49869174,  0.22094002,
          0.76877123,  0.17048936,  0.5383748 ,  0.69314784, -0.20041038,
          0.08484534],
        [-0.35701492,  0.80058116,  0.18926105,  0.5657845 , -0.6439607 ,
          0.04805654,  0.28913116,  0.15507254, -0.00730812, -0.29982525,
          0.79189205],
        [ 0.68307334, -0.7561324 , -0.40050957, -0.6928016 ,  0.39852697,
         -0.7271259 ,  0.02958121, -0.49856907, -0.9237378 , -0.14593215,
         -0.7848589 ],
        [-0.7059398 ,  0.18205617,  0.4499038 ,  0.57398367, -0.75363064,
         -0.20629437,  0.047397  ,  0.10131122,  0.02071005, -0.14553107,
          0.5917112 ],
        [-0.01425896, -0.21733548, -0.19021006, -0.5657737 ,  0.09078413,
         -0.44935277, -0.04858497, -0.52306783, -0.38625228,  0.49185112,
         -0.0354036 ],
        [-0.22349061,  0.39725414,  0.11255892,  0.43082765, -0.19807026,
         -0.0785085 ,  0.6927331 ,  0.53800744,  0.17930894,  0.27935752,
          0.11195967],
        [ 0.55327404, -0.31319916, -0.3304932 ,  0.07175333,  0.7474322 ,
         -0.29325616, -0.37490723, -0.45231193, -0.57252127,  0.8670141 ,
         -0.89683014],
        [ 0.5822421 , -0.6777026 ,  0.11431567, -0.56473273,  0.49622437,
         -0.63621306, -0.19230098, -0.38124156, -0.01286487,  0.41563705,
         -0.36389446],
        [-0.39671227,  0.4459621 ,  0.29857486,  0.44561243, -0.7616022 ,
          0.4214376 ,  0.0403033 ,  0.53220636,  0.45147014, -0.17228472,
         -0.16614956],
        [ 0.090099  ,  0.12305007,  0.03895128, -0.61138797,  0.51927316,
         -0.04852637,  0.15041557, -0.4325314 , -0.42196822,  0.16029854,
          0.02072911],
        [-0.30969673,  0.43060032,  0.3781037 ,  0.72423553, -0.35937327,
          0.6503443 ,  0.08310856,  0.14044859,  0.8487029 , -0.86985373,
          0.556017  ]], dtype=float32),
 array([ 0.03377505, -0.03893678, -0.03306293, -0.01004197, -0.08592687,
         0.03699279, -0.02899095,  0.04734603, -0.00914692, -0.0456473 ,
         0.0469517 ], dtype=float32)]

In [24]:
model.layers[2].get_weights()

[array([[ 0.4873289 ],
        [-0.8043127 ],
        [-0.16382395],
        [-0.71661466],
        [ 0.63123   ],
        [-0.71308035],
        [-0.5024483 ],
        [-0.6971056 ],
        [-0.30081177],
        [ 0.6584069 ],
        [-0.687735  ]], dtype=float32),
 array([0.02379426], dtype=float32)]

In [26]:
y_log=model.predict(X_test_trf)

63/63 [==============================] - 0s 2ms/step

In [28]:
y_predicted=np.where(y_log>0.5,1,0)

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predicted)

0.8245

In [31]:
#let's get more accuracy 
#increasing hidden layers
#using Relu activation function

In [32]:
import matplotlib.pyplot as plt

In [33]:
history

import pandas as pd
import numpy as np
df=pd.read_csv("Churn_Modelling.csv")
df.head()
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)
df.head(2)
df['Geography'].value_counts()
df['Gender'].value_counts()
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

#One hot encoding
#It is used to convert categorical features into numerical values that machine understands
df.head()


X=df.drop(columns=['Exited'])
y=df['Exited'].values

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

X_train_trf=scaler.fit_transform(X_train)
X_test_trf=scaler.transform(X_test)
!pip install tensorflow

import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential
model=Sequential()

model.add(Dense(11,activation='sigmoid',input_dim=11))
model.add(Dense(11,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))
model.summary()
model.compile(loss='binary_crossentropy',optimizer='Adam')
model.fit(X_train_scaled, y_train, epochs=10 )
model.fit(X_train_trf, y_train, epochs=10 )
models.layer[0].get_weights()
model.layer[0].get_weights()
model.layers[0].get_weights()
model.layers[1].get_weights()
model.layers[3].get_weight()
model.layers[3].get_weights()
model.layers[2].get_weights()
model.predict(X_test_trf)
y_log=model.predict(X_test_trf)
np.where(y_log>0.5,1,0)
y_predicted=np.where(y_log>0.5,1,0)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predicted)
#let's get more accuracy
#increasing hidden layers
#using Relu activation function
import matplotlib.pyplot as plt
history